.workspace {
	height: calc(100vh - 60px);
	max-height: -webkit-fill-available;
	width: 100%;
	display: flex;
	position: relative;
	overflow: hidden;
	max-width: 100%;
	-webkit-box-flex: 1;
	flex-grow: 1;
	flex-direction: row;

	.ant-layout-sider-children {
		display: flex;
		flex: 1 1 0%;
		flex-direction: column;
		overflow: hidden;
		background-color: #fff;
		.ant-menu {
			height: 100%;
			flex: 1 1 0%;
		}
		.slider_actions {
			.anticon {
				&:hover {
					cursor: pointer;
					color: rgba(0, 0, 0, 0.45);
				}
				svg {
					width: 20px;
					height: 20px;
				}
			}
		}
	}

	& > .ant-layout {
		overflow-x: hidden;

		.page__inner {
			margin: 0 auto;
			padding: 1.5rem;
			background-color: rgb(240, 240, 240);
			position: relative;
			min-height: calc(99vh - 60px);

			.ant-card-bordered {
				background-clip: padding-box;
				border-radius: 4px;
				border: 0px !important;
			}
		}
	}
}

.site-layout-background {
	background: #fff;
	min-height: calc(99vh - 14vh);
}
.site-content {
	padding: 1.5rem;
}

.role__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	height: 100%;
	width: 100%;
	padding: 0 8px;
	.ant-list {
		width: 100%;
		.ant-list-items {
			li {
				cursor: pointer;
				&:hover {
					background-color: #fafafa;
				}
				&.ant-list-item {
					cursor: pointer;
					&.active {
						border-left: 5px solid #69c0ff;
					}
				}
			}
		}
	}
}

.ant-table-thead > tr > th {
	font-weight: bold !important;
}
