.header_dash__container {
	.ant-layout-header {
		position: relative;
		flex-flow: row nowrap;
		display: flex;
		align-items: center;
		// min-height: 4.286rem;
		z-index: 11;
		padding: 0 1rem;
		height: 60px;
		line-height: 60px !important;
		background-color: #fff;
		box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 2px, rgba(0, 0, 0, 0.02) 0px 1px 0px;

		.ant-menu {
			width: 100%;
			display: flex;
			font-family: inherit;
			line-height: inherit;
			box-shadow: none;
			border: 0;
			margin-bottom: 1px;

			li {
				text-align: center;
			}

			.ant-menu-item,
			.ant-menu-submenu-title {
				padding: 0 1rem;
			}

			.anticon {
				margin: 0;
				svg {
					width: 20px;
					height: 20px;
					vertical-align: middle;
				}
			}
		}
	}
}
