@import '~antd/dist/antd.css';
@import './assets/styles/main.scss';

html {
	height: 100%;
	body {
		// margin: 0;
		padding: 0;
		font-family: 'Raleway', 'Open Sans', sans-serif !important;
		height: 100%;
		color: #4c4d4d;
	}
}
